<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
<meta charset="UTF-8" />
<title>LS Impressos</title>
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/estilo.css" />
<link rel="stylesheet" type="text/css" href="css/contatos.css" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
	rel="stylesheet">
</head>

<body>
	<header id="cabecalho">
		<nav id="menu">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/skills">Skills</a></li>
				<li><a href="/projetos">Projetos</a></li>
				<li><a href="/contatos">Contatos</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="corpoFoto">
			<img class="foto_contatos" src="imagens/contatoum.png"
				alt="Figura escrita contato">
		</div>
		<ul class="iconeRedes">
			<li><a class="github" href="https://github.com/shirleyags"
				target="_blank">GitHub</a></li>
			<li><a class="linkedin"
				href="https://www.linkedin.com/in/shirleyalice/" target="_blank">LinkEdin</a></li>
			<li><a class="whatsapp" href="#" target="_blank">Whatsapp</a></li>
			<li><a class="email" href="" target="_blank">E-mail</a></li>
		</ul>
	</main>
	<footer class="rodape"></footer>
</body>

</html>