<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
<meta charset="UTF-8" />
<title>LS Impressos</title>
<link rel="icon" href="imagens/home.png" />
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="stylesheet" type="text/css" href="css/estilo.css" />
<link rel="stylesheet" type="text/css" href="css/skills.css" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
	rel="stylesheet">
</head>

<body>
	<header id="cabecalho">
		<nav id="menu">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/skills">Skills</a></li>
				<li><a href="/projetos">Projetos</a></li>
				<li><a href="/contatos">Contatos</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="corpoFoto">
			<img class="foto" src="imagens/skills.jpg" alt="Minha foto">
		</div>

		<ul class="skills_lista">
			<li><img src="imagens/js.png" alt="Logo do javaScritp"></li>
			<li><img src="imagens/html.png" alt="Logo do HTML e CSS">
			</li>
			<li><img src="imagens/java.jpg" alt="Logo do JAVA"></li>
			<li><img src="imagens/poo.png" alt="Foto com as bases do POO">
			</li>
			<li><img src="imagens/spring.png" alt="Logo do Spring"></li>
			<li><img src="imagens/spring-boot.png" alt="Logo do Spring Boot">

			</li>
			<li><img src="imagens/resolucao-de-problemas.jpg"
				alt="Figura chegando na resolução de um problema"></li>
			<li><img src="imagens/Resiliencia.jpg"
				alt="A palavra resiliÊncia do lado de uma planta que cresceu no asfalto">

			</li>
			<li><img src="imagens/criatividade.png" alt="Nome criatividade">

			</li>
			<li><img src="imagens/trabalho_equipe.jfif"
				alt="Pessoas dando as mãos como uma equipe"></li>
		</ul>

	</main>
	<footer class="rodape"></footer>
</body>

</html>